<h1 id="tableLabel">users</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!users"><em>Loading...</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.firstName + ' ' +user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.homeAddress }}</td>
      <td>
        <button (click)="editUser(user.id)" class="btn btn-primary mr-2">Edit</button>
        <button (click)="deleteUser(user.id)" class="btn btn-primary">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
