<h1>{{error}}</h1>
<form (ngSubmit)="addUser()">
    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" [(ngModel)]="form.firstName" required class="form-control" name="fname"  placeholder="First Name" />      
    </div>
    <div class="form-group">
      <label for="lname">Last Name</label>
      <input type="text" [(ngModel)]="form.lastName"  class="form-control" name="lname" placeholder="Last Name" />
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" [(ngModel)]="form.email" required class="form-control" name="email"  placeholder="Enter email" />      
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" [(ngModel)]="form.homeAddress" name="address" placeholder="Address" />
    </div>
    <button [disabled]="loading" type="submit" class="btn btn-primary">Submit</button>
</form>